# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
*.venv
env/
venv/
ENV/
build/
dist/
*.egg-info/
.eggs/
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# Linux
*~

# Logs
*.log

# Test & coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Environments
.env
.env.*
.venv
venv/
ENV/
env.bak/
venv.bak/

# MyPy
.mypy_cache/
.dmypy.json
.pyre/

# PyCharm
.idea/

# Local config
*.local

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Others
*.sqlite3
*.db
*.bak
*.swp
*.swo
*.tmp
*.orig
*.rej

results/
G2PWModel/